@font-face {
  font-family: "GWFF";
  src: url(./GABRWFFR.TTF);
}

body {
    background-image: url('https://static01.nyt.com/images/2019/09/08/arts/08Friends-cover/merlin_159726519_fde54c04-bdd0-43cd-950a-3c29331720dd-superJumbo.jpg?quality=75&auto=webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  

#page-title {
    font-family: "GWFF";
    font-size: x-large;
    color: white;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

span {
    display: inline-block;
    height: 200px; /* Set the height of the image */
    width: 200px; /* Set the width of the image */
    font-size: 200px; /*Set the font size to the same value as the image dimensions*/
    vertical-align: middle; /* Vertically align the span to center it within the text */
    
  }

span img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

#container {
    
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 18px;
    width: 530px;
    height: 340px;
    backdrop-filter: blur(3px);
    display: none;
  }

#form-container {
    
    font-family: "GWFF";
    font-size: 16px;
    margin-top: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 530px;
    height: 340px;
    backdrop-filter: blur(3px);
  }

#question-container {
    text-align: center;
    color: white;
    max-width: 530px;
    text-shadow:
        -0.9px -0.9px 0 black,
        0.9px -0.9px 0 black,
        -0.9px 0.9px 0 black,
        0.9px 0.9px 0 black;

  }

h2 {
    color: white;
    text-align: center;
    text-shadow:
        -0.9px -0.9px 0 black,
        0.9px -0.9px 0 black,
        -0.9px 0.9px 0 black,
        0.9px 0.9px 0 black;
  }
  
label {
    color: white;
    text-shadow:
        -0.9px -0.9px 0 black,
        0.9px -0.9px 0 black,
        -0.9px 0.9px 0 black,
        0.9px 0.9px 0 black;

  }

#next-btn {
    float: right;
    background-color: rgba(117, 51, 4, 0.7);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;

  }

#toast-container {
    position: fixed;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
#toast {
    padding: 5px 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
  }





  
  #choice-container {

    font-family: "GWFF";
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 18px;
    width: 530px;
    height: 340px;
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
  }
  
  #play, #score, #replay, #scoreb, #back {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.3px;
    background-color: rgba(117, 51, 4, 0.7);
    color: white;
    font-size: 18px;
    font-family: "GWFF";
    cursor: pointer;
    text-shadow:
        -0.9px -0.9px 0 black,
        0.9px -0.9px 0 black,
        -0.9px 0.9px 0 black,
        0.9px 0.9px 0 black;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #result-container {

    font-family: "GWFF";
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 18px;
    width: 530px;
    height: 340px;
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #score-total {
    color: black;
    font-size: 18px;
    margin-bottom: 13px;
    text-align: center;
  }

  #score-container {

    font-family: "GWFF";
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 18px;
    width: 530px;
    height: 340px;
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #table-container {
    border-collapse: collapse; 
    width: 100%;
    margin-top: 20px;
  }
  
  #table-container th {
    background-color: rgba(117, 51, 4, 0.7); 
    text-align: left;
    padding: 8px;
    color: #fff;
    text-shadow:
        -0.9px -0.9px 0 black,
        0.9px -0.9px 0 black,
        -0.9px 0.9px 0 black,
        0.9px 0.9px 0 black;
  }
  
  #table-container td { 
    padding: 8px; 
  }
  
  #table-container tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4); 
  }