@font-face {
  font-family: "GWFF";
  src: url(./GABRWFFR.TTF);
}

body {
    background-image: url('https://static01.nyt.com/images/2019/09/08/arts/08Friends-cover/merlin_159726519_fde54c04-bdd0-43cd-950a-3c29331720dd-superJumbo.jpg?quality=75&auto=webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

#page-title {
    font-family: "GWFF";
    font-size: x-large;
    color: white;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

span {
    display: inline-block;
    height: 200px; /* Set the height of the image */
    width: 200px; /* Set the width of the image */
    font-size: 200px; /*Set the font size to the same value as the image dimensions*/
    vertical-align: middle; /* Vertically align the span to center it within the text */
    
  }

span img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

#container {
    
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
  }

#question-container {
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
  }

h2 {
    color: white;
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
  }
  
label {
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

  }

#next-btn {
    float: right;
  }